.Color{
  display: flex;
  justify-content: space-around;
}

.Color__h1{
  background-color: #7D4427;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;

}

.Color__h1--color{
  color: $colorPrimary;
}

.Color__h1-2{
  background-color: #A2C523;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-3{
  background-color: #2988BC;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-4{
  background-color: #BA5536; 
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-5{
  background-color: #81cc98;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-6{
  background-color: #2C7873;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-7{
  background-color: #01424A;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}