@import'../components/breakpoints/media';

/* Estilo para los botones de los tabs */
.tab button {
  background-color: #2c7873;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  border-radius: 15%;
  text-decoration: underline;
}

/* Estilo para el botón del tab activo */
.tab button.active {
  background-color: #2c787381;
}

/* Estilo para el contenido de los tabs */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ffffff;
}

/* Estilo para el contenido de tab activo */
.tabcontent.active {
  display: block;
}
