.buttons{
  margin-top: 5%;
  padding-left: 5%;
}

.buttons__titulo{
  background-color: $colorSecundary;
  margin-right: 5%;
  border-radius: 5px;
}

.buttons__titulo--color{
  color: $colorPrimary;
  display: flex;
  align-items: center;
  padding: 2% 2% 2% 2%;
  justify-content: center;
}

.Icon{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.Icon-2{
  background-color: rgb(17 0 255);
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
 
  }
