.Color{
  display: flex;
  justify-content: space-around;
}

.Color__h1{
  background-color: #01094A;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;

}

.Color__h1--color{
  color: $colorPrimary;
}

.Color__h1-2{
  background-color: #071696;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-3{
  background-color: #2132CD;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-4{
  background-color: #F07707;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-5{
  background-color: #454A01;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-5{
  background-color: #454A01;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-6{
  background-color: #4A0106;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-7{
  background-color: #01424A;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}